h1{
    text-align: center;
}

body{
    margin-top: 10%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 40%; 
    width: 100%;
}

input{
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: calc(100% - 15px);
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
    background-color: #e30613;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ba0535;
}